<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReservationProject</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/mod-bootstrap.css" rel="stylesheet" />

    @await RenderSectionAsync("Styles", required: false)

</head>
<body>
    <header>
        <div class="row">
            <div class="col-12 card overflow-hidden border-0 navbar-dark m-sm-12">
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-dark bg-opacity-100">
                    <div class="container p-3" id="nav-font">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="container-fluid">
                            <div class="navbar-collapse collapse  justify-content-between" id="navbar-collapse">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Menus</a>
                                    </li>
                                    @if (User.IsInRole("Member"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-light" id="Reservations" asp-area="Member" asp-controller="Reservation" asp-action="Index">History</a>
                                        </li>
                                    }
                                    @if (User.IsInRole("Admin") || User.IsInRole("Staff"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-light" id="Dashboard" asp-area="Admin" asp-controller="Home" asp-action="Index">Dashboard</a>
                                        </li>
                                    }

                                </ul>

                                <a class="fadeupText navbar-brand text-light fw-bold w-100 m-autow fs-1 fst-normal text-center display-4 " asp-area="" asp-controller="Home" asp-action="Index">BEAN SCENE</a>
                                <partial name="_LoginPartial" />
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ReservationProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy<br /></a>
        </div>
    </footer>
    <script src="~/js/calendar.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
