
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center fw-bold m-5">Dashboard</h1>
<div class="row p-lg-5">
    <div class="col-6">
        <div class="card shadow">
            <h5 class="card-header">Employee</h5>
            <div class="card-body">
                <a asp-area="Admin" asp-controller="Employee" asp-action="Create" class="btn btn-primary btn-lg">Create Employee</a>
                <a asp-area="Admin" asp-controller="Employee" asp-action="Index" class="btn btn-primary btn-lg">View Employees</a>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card shadow">
            <h5 class="card-header">Reports</h5>
            <div class="card-body">
                <a asp-area="Admin" asp-controller="Report" asp-action="Index" class="btn btn-primary btn-lg">View Reports</a>
            </div>
        </div>
    </div>
</div>
<div class="row p-lg-5">
    <div class="col-6">
        <div class="card shadow">
            <h5 class="card-header">Sittings</h5>
            <div class="card-body">
                <a asp-area="Admin" asp-controller="Sitting" asp-action="Create" id="CreateSittings" class="btn btn-primary btn-lg">Create Sittings</a>
                <a asp-area="Admin" asp-controller="Sitting" asp-action="Index" class="btn btn-primary btn-lg">View Sittings</a>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card shadow">
            <h5 class="card-header">Reservations</h5>
            <div class="card-body">
                <a asp-area="Admin" asp-controller="Reservation" asp-action="Create" class="btn btn-primary btn-lg">Create Reservation</a>
                <a asp-area="Admin" asp-controller="Reservation" asp-action="Index" class="btn btn-primary btn-lg">View Reservation</a>
            </div>
        </div>
    </div>
</div>
