<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReservationProject</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/mod-bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/styleSidebar.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    @await RenderSectionAsync("Styles", required: false)

</head>

<body class="container-fluid p-0">
    <div class="row w-100 m-0">
        <div class="col-12 p-0">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-dark m-0">
                <div class="container" id="nav-font">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="container-fluid">
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Menus</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="Admin" asp-controller="Home" asp-action="Index">Dashboard</a>
                                </li>
                            </ul>

                            <a class="fadeupText navbar-brand text-light fw-bold w-100 m-autow fs-1 fst-normal text-center display-4" asp-area="" asp-controller="Home" asp-action="Index">BEAN SCENE</a>
                            <partial name="_LoginPartial" />
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="container-fluid d-flex p-0">
            <div>
                <nav id="sidebar" class="pt-5">
                    @*<img src="~/img/Bean-Scene-Logo-Circle.png" />*@
                    <a class="w-100 justify-content-center" asp-area="Admin" asp-controller="Home" asp-action="Index">
                        <img class="d-block m-auto" src="~/img/Bean-Scene-Logo.png" title="Dashboard"/>
                    </a>
                    <div class="p-4 pt-5">
                        <ul class="list-unstyled components mb-5">
                           @if (User.IsInRole("Admin") || User.IsInRole("Staff"))
                            {
                                <li class="active">
                                    <a href="#reservationSubmenu" data-bs-toggle="collapse" aria-expanded="false"  class="dropdown-toggle">Reservations</a>
                                    <ul class="collapse list-unstyled" id="reservationSubmenu">
                                        <li>
                                            <a asp-area="Admin" asp-controller="Reservation" asp-action="Create">Create Reservation</a>
                                        </li>
                                        <li>
                                            <a asp-area="Admin" asp-controller="Reservation" asp-action="Index">View Reservations</a>
                                        </li>
                                        <li>
                                            <a asp-area="Admin" asp-controller="Reservation" asp-action="SittingIndex">Sort Reservations by Sittings</a>
                                        </li>
                                    </ul>
                                </li>
                            }

                            @if (User.IsInRole("Admin"))
                            {
                                  <li class="active">
                                    <a href="#sittingSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Sittings</a>
                                    <ul class="collapse list-unstyled" id="sittingSubmenu">
                                        <li>
                                            <a asp-area="Admin" asp-controller="Sitting" asp-action="Create" id="CreateSittings">Create Sitting </a>
                                        </li>
                                        <li>
                                            <a asp-area="Admin" asp-controller="Sitting" asp-action="CreateMulti" id="CreateMultiSittings">Create Multiple Sittings </a>
                                        </li>
                                        <li>
                                            <a asp-area="Admin" asp-controller="Sitting" asp-action="Index">View Sittings</a>
                                        </li>
                                    </ul>
                                </li>


                                <li class="active">
                                    <a href="#employeeSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Employee</a>
                                    <ul class="collapse list-unstyled" id="employeeSubmenu">
                                        <li>
                                            <a asp-area="Admin" asp-controller="Employee" asp-action="Create" id="CreateEmployee">Create Employee</a>
                                        </li>
                                        <li>
                                            <a asp-area="Admin" asp-controller="Employee" asp-action="Index">View Employees</a>
                                        </li>
                                    </ul>
                                </li>
                              
                                 <li class="active">
                                <a href="#reportSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle" >Reports</a>
                                <ul class="collapse list-unstyled" id="reportSubmenu">
                                    <li>
                                        <a asp-area="Admin" asp-controller="Report" asp-action="Index" >View Reports</a>
                                    </li>
                                </ul>
                            </li>

                            }
                           
                           
                        </ul>

                        <div class="footer">
                            <p>Bean Scene Administration tools</p>
                        </div>

                    </div>
                </nav>
            </div>
            <div class="container-fluid">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
        <footer class="col-12 mt-5 border-top footer text-muted" style="height:10px">
            <div class="container">
                &copy; 2021 - ReservationProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy<br /></a>
            </div>
        </footer>

        <script src="~/js/calendar.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/main.js"></script>
        <script src="~/js/popper.js"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
