@model ReservationProject.Models.Reservation.Create

<div class="text-center">
    <h1 class="display-4 mt-3" id="Reservation-Form">Reservations</h1>
    <p> Please fill in the information below</p>
    
    @* Carousel Section *@

    <div class="d-flex justify-content-center w-auto">
        <div id="FormController" class="carousel slide" data-bs-ride="carousel" data-bs-interval='false' style="min-height:800px; width: 700px;">
            <div class="carousel-inner d-block" style="min-height: 400px">
                <div class="carousel-item active">
                    <div class="d-inline-block p-6">
                        <div>
                            <p class="fs-3">Select Time and Date</p>
                            <p>For bookings of 12+, please contact <a class="d-inline-block text-decoration-none email-link" href="mailto:reservations@beanscene.com.au">reservations@beanscene.com.au</a></p>

                        </div>
                        <div class="progress" style="width: 500px;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 1%"></div>
                        </div>
                    </div>
                    <div class="p-4">
                        <div class="col-sm-10 shadow p-3 mb-2 ms-5 bg-body rounded">
                            <div class="calendar-wrapper"> </div>
                        </div>
                        <form asp-action="Create" class="col-sm-10 shadow p-3 mb-2 ms-5 bg-body rounded mt-4 form-group">
                            <div class="mb-3 align-items-center">
                                <label asp-for="SittingId" class="form-label"></label>
                                <select asp-for="SittingId" asp-items="Model.SittingTypes" class="form-select">
                                    <option value="">-- select Sitting Type --</option>

                                    @*<option selected>Select Sitting...</option>
            <option value="breakfastOption">Breakfast</option>
            <option value="lunchOption">Lunch</option>
            <option value="dinnerOption">Dinner</option>
            <option value="eventsOption">Events</option>*@
                                </select>
                                <span asp-validation-for="SittingId" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="inputTime" class="form-label">Avaliable Times</label>
                                <select id="inputTime" class="form-select">
                                    <option selected>Select Time...</option>
                                    <option value="Breakfast">9:00am</option>
                                    <option value="Breakfast">9:30am</option>
                                    <option value="Breakfast">10:00am</option>
                                    <option value="Breakfast">10:30am</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="guest" class="form-label">Number Guest</label>
                                <select id="guest" class="form-select">
                                    <option selected>Select Number of Guests...</option>
                                    <option value="Breakfast">1</option>
                                    <option value="Breakfast">2</option>
                                    <option value="Breakfast">3</option>
                                </select>

                            </div>
                            <div class="mb-3">
                                <label for="duration" class="form-label">Duration</label>
                                <select id="duration" class="form-select">
                                    <option selected value="Breakfast">90 Minutes (Default)</option>
                                    <option value="Breakfast">105 Minutes</option>
                                    <option value="Breakfast">120 Minutes</option>
                                </select>
                                
                            </div>

                            <div class="d-flex justify-content-end">
                                <div class="gap-2 p-3 d-md-block">
                                    <a class="btn btn-primary fs-6 next-control" href="#Reservation-Form" type="button" style="width: 100px;">Next</a>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>            
                <div class="carousel-item">
                    <div class="d-inline-block p-6">
                        <div>
                            <p class="fs-3">Enter Details</p>
                            <p>Requested DateTime and Guest Number</p>

                        </div>
                        <div class="progress" style="width: 500px;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
                        </div>
                    </div>
                    <form class="col-sm-10 shadow p-3 ps-5 mb-2 ms-5 bg-body rounded mt-4">
                        <div class="mb-3">
                            <label class="form-label">First Name</label>
                            <input type="text" class="form-control" placeholder="Enter Your First Name" id="FirstNameForm" aria-label="First Name">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Last Name</label>
                            <input type="text" class="form-control" placeholder="Enter Your Last Name" id="LastNameForm" aria-label="Last Name">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Phone Number</label>
                            <input type="text" class="form-control" placeholder="Enter Your Phone Number" aria-label="Phone Number">
                        </div>
                        <div class="mb-3">
                            <label for="InputEmail" class="form-label">Email address</label>
                            <input type="email" class="form-control" placeholder="Enter Your Email Address" id="InputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="Requirements" class="form-label">Additional Requirements</label>
                            <textarea type="text" rows="5" class="form-control" placeholder="Enter allergies, dietary restrictions or requests" id="Requirements" aria-label="Requirements"></textarea>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="gap-2 p-3 d-md-block">
                                <a class="btn btn-primary fs-6 prev-control" href="#Reservation-Form" type="button" style="width: 100px;">Previous</a>
                            </div>
                            <div class="gap-2 p-3 d-md-block">
                                <a class="btn btn-primary fs-6 next-control" href="#Reservation-Form" type="button" style="width: 100px;">Next</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="carousel-item">
                    <div class="d-inline-block p-6">
                        <div>
                            <p class="fs-3">Summary</p>
                        </div>
                        <div class="progress" style="width: 500px;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                        </div>
                    </div>
                    <form class="col-sm-10 shadow p-3 ps-5 mb-2 ms-5 bg-body rounded mt-4">
                        <p>Restaurant</p>
                        <br />
                        <p>Host Name</p>
                        <p>Host Phone</p>
                        <p>Host Email</p>
                        <br />
                        <p>Requested Date</p>
                        <p>Requested Sitting</p>
                        <p>Requested Time</p>
                        <br />
                        <p>Group Size</p>
                        <div class="d-flex justify-content-between">
                            <div class="gap-2 p-3 d-md-block">
                                <a class="btn btn-primary fs-6 prev-control" href="#Reservation-Form" type="button" style="width: 100px;">Previous</a>
                            </div>
                            <div class="gap-2 p-3 d-md-block">
                                <a class="btn btn-primary fs-6 next-control" href="#Reservation-Form" type="button" style="width: 100px;">Submit</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="carousel-item">
                    <div class="d-inline-block p-6">
                        <div>
                            <p class="fs-3">Booking Confirmation</p>
                        </div>

                    </div>
                    <form class="col-sm-10 shadow p-3 ps-5 mb-2 ms-5 bg-body rounded mt-4">
                        <p>Reservation Confirmed Thank You For Booking</p>
                        <p>Booking Details</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{

    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/theme.css" rel="stylesheet" />
}

@section Scripts{

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/calendar.js"></script>
    <script>
        function selectDate(date) {
            $('.calendar-wrapper').updateCalendarOptions({
                date: date
            });
        }

        var defaultConfig = {
            weekDayLength: 1,
            date: new Date(),
            onClickDate: selectDate,
            highlightSelectedWeek: false,
            highlightSelectedWeekday: false,
            todayButtonContent: "Reset",
            disable: function (date) {

                //Also check for dates with no sittings
                return date < (new Date() - 1);
            }
        };

        $('.calendar-wrapper').calendar(defaultConfig);

    </script>
    <script>
        $(document).ready(function () {

            $("#myCarousel").carousel({ interval: false });

            $(".prev-control").click(function () {
                $("#FormController").carousel("prev");
            });
            $(".next-control").click(function () {
                $("#FormController").carousel("next");
            });
        });
    </script>
}